body {
    text-align: center;
    margin: auto;
    display: table;
    background-color: cadetblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 
h1
{
    animation: changeColor 1s infinite;
}
body ol
{
    list-style-type: lower-roman;
    list-style-position: inside;
    font-weight: bold;
    font-size: larger;
    margin-top: 30px;
}

.Pizza
{
    color: lightgoldenrodyellow;
    text-decoration: none;
}
.Pizza:hover
{
    color: coral;
    text-decoration: underline;
}

.Burger:hover
{
    color: chartreuse; 
}
.Kitfo
{
    color: blue;
    text-decoration: none;
}
.Kitfo:hover
{
    color: yellow;
    text-decoration: underline;
}
@keyframes changeColor {
    0% {
        color: red;
    }
    25% {
        color: yellow;
    }
    50% {
        color: blue;
    }
    75% {
        color: green;
    }
    100% {
        color: red;
    }
}